.comment {
  color: var(--link);
}

.comment h3 {
  margin: 0;
}

.comment h4 {
  margin-top: 0;
  text-align: center;
  font-size: 0.85rem;
}

.comment p {
  font-size: 0.9rem;
  color: white;
}

span.your-vote {
  font-weight: bold;
}

.comment.row {
  margin: 8px 0 0;
}

@media screen and (min-width: 400px) {
  .comment h4.center {
    width: 75%;
  }
}
