.comment.list-member-12 {
  color: var(--link);
  padding-top: 8px;
  padding-bottom: 8px;
}

.comment h3 {
  margin: 0;
}

.comment h4 {
  margin-top: 0;
  text-align: center;
  font-size: 0.85rem;
}

.comment p {
  font-size: 0.9rem;
  color: white;
}

.comment div {
  border-right-color: var(--dark-text) !important;
}

span.your-vote {
  font-weight: bold;
}

.comment.row {
  margin: 8px 0 0;
}

@media screen and (max-width: 576px) {
  .comment div {
    border: none !important;
  }
}
