:root {
  --page-background: black;
  --primary-background: rgb(0, 0, 52);
  --secondary-background: rgb(188, 192, 226);
  --primary-text: rgb(168, 179, 227);
  --secondary-text: rgb(0, 0, 52);
  --primary-link: white;
  --primary-link-hover: gold;
  --secondary-link: rgb(191, 25, 25);
  --secondary-link-hover: white;
  --dark-link: rgb(0, 0, 52);
  --dark-link-hover: rgb(176, 13, 13);
  --primary-border: rgb(94, 94, 157);
  --dark-li-hover: rgb(55, 55, 111);
}

html,
body {
  background-color: black;
  min-height: 100%;
}

li {
  list-style-type: none;
}

section {
  height: 100%;
  padding: 20px;
  color: var(--primary-text);
  background-color: var(--page-background);
}

section a {
  text-decoration: none;
  color: var(--primary-link);
}

section a:hover {
  color: var(--primary-link-hover);
}

section input,
section textarea {
  width: 100%;
  margin-bottom: 10px;
  border-radius: 4px;
  border: none;
  padding: 6px;
  font-size: 1em;
  line-height: 1.2em;
}

section button,
section button:disabled:hover {
  border: none;
  border-radius: 4px;
  color: var(--primary-background);
  background-color: var(--secondary-background);
}

section button:disabled,
section button:disabled:hover {
  color: var(--primary-border);
  opacity: 0.5;
  cursor: default;
}

section button:hover {
  background-color: var(--primary-link-hover);
}

section ul {
  padding-left: 0;
}

section h1 {
  font-size: 1.8em;
  line-height: 1.2em;
}

section h2 {
  font-size: 1.5em;
  line-height: 1em;
}

section h3 {
  font-size: 1.2em;
  line-height: 1.1em;
}

section h4 {
  font-size: 1em;
  line-height: 0.8em;
}

section h5 {
  font-size: 0.8em;
  line-height: 0.7em;
}

section h6 {
  font-size: 0.6em;
  line-height: 0.5em;
}
