@import url("https://fonts.googleapis.com/css2?family=Limelight&family=Raleway:wght@100;300;400;500;600;700&display=swap");
:root {
  --page-background: #01141e;
  --link: rgb(250, 246, 246);
  --link-hover: #deb992;
  --secondary-color: #1ba098;
  --tertiary-color: rgb(22, 51, 81);
  --dark-text: #888888;
  --item-background: rgba(0, 0, 0, 0.5);
  --item-background-hover: rgba(78, 89, 135, 0.5);
  --item-background-light: rgba(255, 255, 255, 0.1);
  --main-max-width: 800px;
}

html {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

body {
  flex-grow: 1;
  position: relative;
  font-family: "Raleway", sans-serif;
  margin: 0;
  /* background-image: url("/images/all.jpg"); */
  /* background-size: cover; */
  padding: 20px;
  padding-bottom: 100px;
  background-color: #01141e !important;
  /* background-repeat: no-repeat; */
}

section {
  margin-top: 20px;
}

body a {
  color: var(--link);
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  transition: color 0.2s ease-in-out;
  text-decoration: none;
}

body a:hover {
  color: var(--link-hover);
}

textarea:disabled,
input:disabled,
button:disabled {
  opacity: 0.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}

body h1,
body h2 {
  font-family: Limelight;
  color: white;
}

button.btn.btn-primary {
  background-color: var(--secondary-color);
  border-color: var(--secondary-color);
}

button.btn.btn-primary:hover {
  background-color: var(--link-hover);
  border-color: var(--link-hover);
  color: black;
}

.hidden {
  display: none;
}
