@import url("https://fonts.googleapis.com/css2?family=Limelight&family=Raleway:wght@100;300;400;500;600;700&display=swap");
:root {
  --page-background: #01141e;
  --link: rgb(250, 246, 246);
  --link-hover: #deb992;
  --item-background: rgba(0, 0, 0, 0.5);
  --item-background-light: rgba(255, 255, 255, 0.1);
  --warning-color: rgb(179, 42, 42);
  --highlight: rgb(126, 126, 31);
  --highlight-text: rgb(217, 217, 71);
  --dark-text: #b1b1b1;
  --main-max-width: 800px;
  --main-color: white;

  /* standard colors */
  --secondary-color: #48938e;
  --secondary-background: #12403d;
  --secondary-on-background: #8acbc6;
  --tertiary-color: rgb(119, 159, 202);
  --tertiary-on-background: rgb(137, 177, 219);
  --tertiary-background: rgb(16, 36, 58);
  --tertiary-mid: rgb(47, 96, 148);
  --item-background-hover: rgba(78, 89, 135, 0.5);

  /* B colors */
  --b-secondary-color: rgb(233, 241, 82);
  --b-secondary-background: rgb(96, 97, 21);
  --b-secondary-on-background: rgb(227, 230, 146);
  --b-tertiary-color: #48938e;
  --b-tertiary-on-background: rgb(153, 195, 152);
  --b-tertiary-background: #12403d;
  --b-tertiary-mid: #1a5e59;
  --b-item-background-hover: rgba(43, 76, 66, 0.5);
}

html {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

body {
  flex-grow: 1;
  position: relative;
  margin: 0;
  padding: 20px;
  background-color: var(--page-background) !important;
}

body section,
body footer {
  margin-top: 20px;
  font-family: "Raleway", sans-serif;
}

body p {
  /* color: var(--dark-text); */
}

body a {
  color: var(--link);
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  transition: color 0.2s ease-in-out;
  text-decoration: none;
}

body a:hover {
  color: var(--link-hover);
}

body a.reverse {
  color: var(--link-hover);
}

body a.reverse:hover {
  color: var(--link);
}

body .hidden {
  display: none;
}

/* HEADLINES */

body h1,
body h2,
body h3,
body h4,
body h5,
body h6 {
  font-weight: 600;
  color: white;
}

body h1,
body h2 {
  font-family: Limelight;
}

body h3,
body h4,
body h5,
body h6 {
  font-family: Raleway, sans-serif;
}

body h1 {
  /* Used for main page headers */
  font-size: 2rem;
}

body h2 {
  /* Used for page section titles where title font needed */
  font-size: 1.6rem;
}

body h3 {
  /* Used for major page sections */
  font-size: 1.2rem;
}

body h4 {
  /* Used for sub-sections */
  font-size: 1rem;
}

body .force-2 {
  /* force the font size to 2rem */
  height: 2rem;
}

/* FORMS */

body input[type="text"],
body input[type="password"],
body input[type="email"],
body textarea {
  border-radius: 4px;
  border: none;
  padding: 6px;
  /* font-size: 1em;
  line-height: 1.2em; */
}

body input[type="text"].darker {
  background-color: var(--item-background-light);
  color: white;
}

textarea:disabled,
input:disabled,
button:disabled {
  opacity: 0.5;
}

button.btn.btn-primary {
  background-color: var(--tertiary-mid);
  border-color: var(--tertiary-mid);
}

.style-b button.btn.btn-primary {
  background-color: var(--b-tertiary-mid);
  border-color: var(--b-tertiary-mid);
}

button.btn.btn-primary:hover {
  background-color: var(--link-hover);
  border-color: var(--link-hover);
  color: black;
}

/* USERNAME TAGS */

body span.you-data.tag,
body span.user-data.tag {
  border-radius: 4px;
  padding: 4px 10px;
  position: relative;
  top: -3px;
}

body span.you-data.tag,
body span.user-data.tag,
body span.you-data.tag a,
body span.user-data.tag a {
  font-size: 0.7rem;
}

/* COLOR */

body .secondary,
body .you-data {
  color: var(--secondary-color);
}

body .style-b .secondary,
body .style-b .you-data {
  color: var(--b-secondary-color);
}

body .tertiary,
body .user-data {
  color: var(--tertiary-color);
}

body .style-b .tertiary,
body .style-b .user-data {
  color: var(--b-tertiary-color);
}

body div.you-data,
body span.tag.you-data,
body button.you-data {
  color: var(--secondary-on-background);
  background-color: var(--secondary-background);
}

body .style-b div.you-data,
body .style-b span.tag.you-data,
body .style-b button.you-data {
  color: var(--b-secondary-on-background);
  background-color: var(--b-secondary-background);
}

body div.user-data,
body span.tag.user-data,
body button.user-data {
  color: var(--tertiary-on-background);
  background-color: var(--tertiary-background);
}

body .style-b div.user-data,
body .style-b span.tag.user-data,
body .style-b button.user-data {
  color: var(--b-tertiary-on-background);
  background-color: var(--b-tertiary-background);
}

body .item-hover:hover {
  background-color: var(--item-background-hover);
}

body .style-b .item-hover:hover {
  background-color: var(--b-item-background-hover);
}

body .user-data.hoverable:hover {
  background-color: var(--tertiary-mid);
}

body .style-b .user-data.hoverable:hover {
  background-color: var(--b-tertiary-mid);
}

/* FREQUENT STRUCTURES */

/* list items */

body .list-member-20 {
  padding: 16px 20px;
  background-color: var(--item-background);
  border-radius: 20px;
  position: relative;
  margin-top: 8px;
}

body .list-member-12 {
  padding: 12px;
  background-color: var(--item-background);
  border-radius: 12px;
  position: relative;
  margin-top: 8px;
}

/* info about non-existent things */

body .doesnt-exist {
  text-align: center;
  color: white;
}

body div.doesnt-exist span {
  font-weight: bold;
}

body .login-prompt {
  color: white;
}

body .login-prompt a {
  color: var(--link-hover);
  font-weight: bold;
}

body .login-prompt a:hover {
  color: var(--link);
}

/* ACCORDION CONTROLS */

div.accordion h2.accordion-header button {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  margin-top: 0;
  padding: 12px;
}

section .accordion-button::after,
section .accordion-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
  box-shadow: none;
  background-size: 15px;
}

section .accordion-button:not(.collapsed) {
  box-shadow: none;
}

/* MAIN MODAL STYLING */

body div.main-modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 300;
}

/* body .sub-info {
  /* accompanies headline, but not link 
  color: var(--secondary-color);
  margin-top: 0;
}

body .style-b .sub-info {
  /* accompanies headline, but not link 
  color: var(--b-secondary-color);
} */

/* Basic text coloring styles */
/* 



body .style-b .tertiary,
body .style-b .user-data {
  color: var(--b-tertiary-color);
}

body .style-b .secondary,
body .style-b .you-data {
  color: var(--b-secondary-color);
} */

/* Basic container combos */
/* body div.tertiary,
body .bg-user-data,
body span.bg-user-data.as-div {
  color: var(--tertiary-on-background);
  background-color: var(--tertiary-background);
}

body .bg-user-mid {
  color: var(--tertiary);
  background-color: var(--tertiary-mid);
}

body div.secondary,
body .bg-you-data,
body span.bg-you-data.as-div {
  color: var(--secondary-on-background);
  background-color: var(--secondary-background);
}

body .style-b div.tertiary,
body .style-b .bg-user-data,
body .style-b span.bg-user-data.as-div {
  color: var(--b-tertiary-on-background);
  background-color: var(--b-tertiary-background);
}

body .style-b div.secondary,
body .style-b .bg-you-data,
body .style-b span.bg-you-data.as-div {
  color: var(--b-secondary-on-background);
  background-color: var(--b-secondary-background);
}

body .style-b .bg-user-mid {
  color: var(--b-tertiary);
  background-color: var(--b-tertiary-mid) !important;
}

body .border-user {
  border-color: var(--tertiary-mid);
}

body .border-you {
  border-color: var(--secondary-color);
}

body .style-b .border-user {
  border-color: var(--b-tertiary-mid);
}

body .style-b .border-you {
  border-color: var(--b-secondary-color);
}


body div.bg-you-data,
body div.bg-user-data,
body span.bg-user-data.as-div,
body span.bg-you-data.as-div {
  /* padding: 4px 10px; 
  border-radius: 4px;
  font-size: 0.85rem;
  text-align: center;
}

body span.bg-user-data.as-div,
body span.bg-you-data.as-div {
  padding: 4px 10px;
}

body span.as-div {
  position: relative;
  top: -2px;
}







.accordion-button:focus {
  box-shadow: none;
  border-bottom: none;
}

 */
