section#poll {
  max-width: var(--main-max-width);
  margin-left: auto;
  margin-right: auto;
}

div#question {
  text-align: center;
}

section#poll div.login-prompt {
  color: white;
}

p#yourvote {
  color: var(--secondary-color);
  margin-top: 15px;
  margin-bottom: 0;
}

p.expired {
  margin: 0;
}

div#question h4 {
  text-align: center;
}

div#question p.desc {
  margin: 0;
}

div#question button {
  width: 250px;
  height: auto;
}

div#comments {
  margin-top: 20px;
  padding: 0;
  max-width: 800px;
}

div#comments h3 {
  text-align: center;
}

div.edit-poll {
  display: flex;
  justify-content: center;
  margin-top: 6px;
}

div.edit-poll span {
  color: white;
  font-size: 0.9rem;
  font-weight: bold;
  cursor: pointer;
}

div.edit-poll span:hover {
  color: var(--link-hover);
}

div.deactivated {
  text-align: center;
  color: white;
}
