section#directory {
  position: relative;
  max-width: var(--main-max-width);
  margin-left: auto;
  margin-right: auto;
}

section#directory select {
  font-family: Limelight;
  color: white;
  width: 100%;
}

section#directory input {
  width: 100%;
}

section#directory #filters {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

section#directory span,
section#directory p {
  font-size: 0.9rem;
}

section#directory span.sub-info {
  margin-left: 8px;
  display: none;
}

section#directory span.username {
  white-space: nowrap;
  display: none;
  position: relative;
  top: -4px;
  right: -2px;
  color: var(--dark-text);
  font-size: 0.7rem;
  padding: 4px 12px;
}

section#directory p.title-and-user span.username a {
  font-size: 0.8rem;
  margin-top: 4px;
}

section#directory p.poll-info,
section#directory p.sub-info {
  display: none;
}

section#directory svg {
  color: var(--secondary-color);
  margin-right: 6px;
  position: relative;
  top: -2px;
}

@media screen and (min-width: 350px) {
  section#directory span.username {
    display: inline;
  }
}

@media screen and (min-width: 550px) {
  section#directory span.sub-info {
    display: inline;
  }
  section#directory svg {
    display: none;
  }
}

@media screen and (min-height: 600px) {
  section#directory p.sub-info {
    display: block;
  }
}

@media screen and (min-height: 800px) {
  section#directory p.poll-info {
    display: block;
  }
}
