section#directory {
  position: relative;
  max-width: var(--main-max-width);
  margin-left: auto;
  margin-right: auto;
}

section#directory select {
  font-family: Limelight;
  color: white;
}

section#directory h3.center {
  /* margin-left: 12px;
  margin-right: 12px; */
}
