div.navbar-nav a.nav-link {
  color: var(--link);
  margin-left: 10px;
  text-align: right;
  font-size: 1.2em;
  line-height: 1.5em;
}

nav.navbar div.container {
  align-items: flex-end;
  padding: 0;
  max-width: 100% !important;
}

nav.navbar div.me-auto.navbar-nav {
  margin-right: 0 !important;
  /* flex-direction: row; */
}

div.navbar-nav a.nav-link:hover {
  color: var(--link-hover);
}

div.navbar-collapse {
  justify-content: flex-end;
}

nav a.nav-link.user {
  color: var(--link-hover) !important;
  font-weight: 700;
}

nav a.nav-link.user:hover {
  color: var(--link);
}

nav.navbar {
  padding: 0;
}

nav.navbar a.faq-round {
  display: flex;
  justify-content: flex-end;
}

nav.navbar div.round {
  background-color: var(--secondary-color);
  color: var(--page-background);
  height: 24px;
  width: 24px;
  border-radius: 24px;
  font-size: 1.1rem;
  font-weight: 800;
  line-height: 24px;
  text-align: center;
  position: relative;
  top: 2px;
}

div.navbar-nav {
  justify-content: flex-end;
}

button.navbar-toggler {
  padding: 0 6px;
  margin-bottom: 10px;
}

button.navbar-toggler span.navbar-toggler-icon {
  width: 1em;
}

@media screen and (max-width: 768px) {
  nav.navbar div.round {
    top: -4px;
  }
}
