div.navbar-nav a.nav-link,
div.navbar-nav span.navbar-text {
  color: var(--link);
  margin-left: 10px;
  text-align: right;
  font-size: 1.2em;
  line-height: 1.5em;
  font-family: "Raleway", sans-serif;
}

nav.navbar div.container {
  align-items: flex-end;
  padding: 0;
  max-width: 100% !important;
}

nav.navbar div.me-auto.navbar-nav {
  margin-right: 0 !important;
  /* flex-direction: row; */
}

div.navbar-nav a.nav-link:hover {
  color: var(--link-hover);
}

div.navbar-collapse {
  justify-content: flex-end;
}

nav a.nav-link.user {
  color: var(--link-hover) !important;
  font-weight: 700;
}

nav a.nav-link.user:hover {
  color: var(--link) !important;
}

nav.navbar {
  padding: 0;
  position: relative;
}

nav.navbar svg {
  height: 1.2rem;
  color: white;
}

nav.navbar div.user-icon svg {
  color: var(--link-hover);
}

nav.navbar svg:hover {
  color: var(--link-hover);
}

nav.navbar div.user-icon svg:hover {
  color: white;
}

nav.navbar .faq-round {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 8px;
  margin-left: 10px;
}

nav.navbar div.round {
  background-color: var(--secondary-color);
  color: var(--page-background);
  height: 24px;
  width: 24px;
  border-radius: 24px;
  font-size: 1.1rem;
  font-weight: 800;
  line-height: 24px;
  text-align: center;
  position: relative;
  top: 2px;
}

nav.navbar div.round:hover {
  background-color: var(--link-hover);
}

nav.navbar span.navbar-text {
  text-align: right;
  cursor: pointer;
}

div.navbar-nav {
  justify-content: flex-end;
}

div.navbar-nav .user-icon {
  position: relative;
}

div.navbar-nav .user-icon.open {
  color: var(--link-hover);
}

div.navbar-nav .user {
  display: none;
}

div.navbar-nav #logout-link {
  display: none;
}

button.navbar-toggler {
  padding: 0 6px;
  margin-bottom: 10px;
}

button.navbar-toggler span.navbar-toggler-icon {
  width: 1em;
}

@media screen and (max-width: 768px) {
  /* this is for collapsed navbar */
  nav.navbar div.round {
    top: -4px;
  }
  div.navbar-nav .user,
  div.navbar-nav #logout-link {
    display: block;
  }

  div.navbar-nav .user-icon {
    display: none;
  }
}

@media screen and (min-width: 900px) {
  /* this is for wide enough navbar to render entire username */
  div.navbar-nav .user,
  div.navbar-nav #logout-link {
    display: block;
  }

  div.navbar-nav .user-icon {
    display: none;
  }
}
