.poll-listing {
  list-style-type: none;
}

body div.username,
body span.username {
  padding: 6px 12px;
  background-color: var(--tertiary-color);
  border-radius: 4px;
  font-size: 0.85rem;
  text-align: center;
}

body div.username a,
body span.username a {
  font-size: 0.85rem;
}
