section#login {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

section#login div {
  max-width: 350px;
  margin: 0 10px 30px;
}

section#login div.limit {
  margin: 0;
}

section#login div.alert {
  width: 100%;
  margin: 20px 0 0;
}
