/* Card css here */

.card {
  background-color: rgba(0, 0, 0, 0.75) !important;
  background-position: 50% 15%;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border: none;
}

.card a.main-link {
  flex-grow: 1;
  padding: 0;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border-radius: 6px;
}

.card a.main-link h5 {
  background-color: black;
  padding: 10px 6px 0;
  text-align: center;
  margin: 0;
  border: none;
  font-size: 1.1rem;
}

.card a.main-link:hover h5 {
  color: var(--link-hover) !important;
}

.card .title-container {
  background-color: black;
}

.card .poll-info {
  flex-grow: 0;
  display: flex;
  flex-direction: column;
  background-color: black;
  border-radius: 0 0 6px 6px;
  font-size: 0.9rem;
  padding: 2px 12px 8px;
  color: white;
}

.card .poll-info div {
  width: 100%;
  font-size: 0.8rem;
  text-align: center;
}

.card .poll-info div.username {
  padding: 0;
  margin-bottom: 4px;
  color: var(--dark-text);
  background-color: transparent;
}

.card .vote-count {
  display: none;
}

/* media queries for height of cards */

@media screen and (min-width: 400px) {
  .card {
    min-height: 200px;
  }

  .card .poll-info {
    padding-top: 6px;
  }

  .card .poll-info div.username {
    background-color: var(--tertiary-color);
    padding: 3px;
    text-align: center;
  }
}

@media screen and (min-width: 600px) {
  .card {
    min-height: 275px;
    background-position: 50% 20%;
  }

  .card .poll-info div {
    font-size: 0.9rem;
  }
}

@media screen and (min-width: 992px) {
  .card a.main-link h5 {
    font-size: 1.2rem;
  }
}

@media screen and (min-width: 768px) {
  .card .vote-count {
    display: block;
  }
}

@media screen and (min-height: 800px) and (min-width: 600px) {
  .card {
    min-height: 400px;
    background-position: 50% 0;
  }
}
