/* Card css here */

.card {
  min-height: 300px;
  background-color: rgba(0, 0, 0, 0.75) !important;
}

.card .title-container h5 {
  font-weight: 700;
  font-size: 1.4em;
  line-height: 1.1em;
}

.card-img-top {
  object-fit: cover;
  max-height: 200px;
  object-position: top;
}

.card-img {
  margin-top: -20px;
}

.img-link {
  padding-right: 0;
}

.card-title {
  text-align: center !important;
  margin-top: 6px;
}

.title-container {
  overflow: hidden;
}

.card-body.custom-body {
  padding: 0.5em 0.5em 25px;
}

body p.card-text.votes,
body p.card-text.user {
  margin: 0;
  padding: 12px;
  position: absolute;
  bottom: 0;
  font-size: 0.75em;
  color: #8d8d8d;
}

body p.card-text.user a {
  font-size: 1.1em;
  color: var(--link-hover);
}

body p.card-text.user a:hover {
  color: var(--link);
}

p.card-text.user {
  right: 0;
}
