h1.homepage-title {
  font-size: 3rem;
  line-height: 3rem;
  margin: 0;
  text-align: center;
}

.lead {
  color: white;
  text-align: center;
  font-size: 1.2em;
  line-height: 1.1em;
  margin-bottom: 16px;
}

.lead span.extra {
  display: none;
}

@media only screen and (min-width: 768px) {
  h1.homepage-title {
    font-size: 4rem;
    line-height: 3.5rem;
  }

  .lead {
    font-size: 1.5em;
    margin-top: 6px;
    margin-bottom: 24px;
  }

  .lead span.extra {
    display: inline;
  }
}
