.option {
  position: relative;
  display: flex;
  margin-top: 15px;
  color: white;
  padding: 0;
}

.option .title {
  width: 100%;
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: flex-start;
  font-size: 1.2rem;
  padding: 20px;
}

.option.list-member-12 {
  padding: 0;
}

.option .title h2 button {
  text-transform: uppercase;
}

.option .opt-container {
  /* on small devices, votes/select button goes on bottom */
  flex-direction: column;
  justify-content: space-between;
  padding: 0;
}

.option .title span.year {
  font-size: 1rem;
  color: var(--dark-text);
}

/* for accordions */

div.accordion.accordion-flush {
  width: 100%;
  background-color: transparent;
}

div.accordion .accordion-header button {
  padding: 10px;
  display: flex;
}

div.accordion .accordion-header button,
div.accordion .accordion-item {
  background-color: transparent;
  color: white;
}

.option div.accordion-item button.accordion-button {
  padding: 0 0 0 20px;
}

/* for the selector or vote display */

.option button.picker,
.option div.tab {
  flex-grow: 0.15;
  min-width: 100px;
  height: 100%;
  border-radius: 0 0 12px 12px;
  white-space: nowrap;
  position: relative;
  left: 12px;
  font-size: 0.9em;
  background-color: var(--tertiary-color);
  color: white;
}

.option div.tab {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 2em;
  font-weight: 700;
  white-space: normal;
  color: var(--tertiary-text);
}

.option div.tab.winner {
  background-color: var(--highlight);
  color: var(--highlight-text);
}

.option .accordion-body {
  display: flex;
  font-size: 0.9rem;
  line-height: 1.1rem;
  align-items: flext-start;
  flex-direction: row;
  margin: 6px 0 0;
  padding: 6px 0 0 20px;
  margin: 0;
  overflow: hidden;
  transition: max-height 1s;
}

.option .accordion-body .info-links {
  margin-top: 6px;
}

.option .accordion-body a {
  font-size: 1em;
  font-weight: bold;
  margin-right: 10px;
  text-decoration: none;
}

.option .accordion-body strong {
  margin-right: 12px;
  color: var(--dark-text);
}

.option .accordion-body img {
  display: none;
}

.option.selected {
  background-color: var(--item-background-hover);
}

@media screen and (min-width: 400px) {
  .option .accordion-body img {
    display: block;
    width: 75px;
    margin-right: 12px;
    align-self: flex-start;
  }

  .option button.picker,
  .option div.tab {
    border-radius: 0 12px 12px 0;
  }

  .option .opt-container {
    /* on larger screens, select button/votes are on right */
    flex-direction: row;
  }
}
