/* custom css goes here */

.tab-container {
  margin: 6px 0;
  display: flex;
  justify-content: flex-start;
  border-bottom: 1px solid var(--secondary-color);
}

.tab-container button.btn,
.tab-container button.btn.active {
  background-color: var(--secondary-color);
  color: white;
  opacity: 0.4;
  margin-right: 8px;
  border: none;
  border-radius: 12px 12px 0 0;
}

.tab-container button.btn.active {
  opacity: 1;
}
