body footer {
  text-align: center;
  color: white;
  padding: 8px 0;
  border-top: 3px solid var(--secondary-color);
  position: fixed;
  bottom: 0;
  margin-top: 90px;
  width: calc(100vw - 40px);
  line-height: 2rem;
  background-color: var(--page-background);
  z-index: 200;
}

body footer span {
  display: none;
}

body footer img {
  vertical-align: baseline;
  position: relative;
  top: 2px;
}

@media screen and (min-width: 400px) {
  body footer span {
    display: inline;
  }
}
