div#user-menu {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: var(--tertiary-mid);
  z-index: 100;
  border-radius: 0 0 5px 5px;
  padding: 2px 2px 1px;
}

div#user-menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: var(--tertiary-color);
  border-radius: 0 0 5px 5px;
}

div#user-menu li {
  margin: 0;
  padding: 0;
  border-bottom: 1px solid var(--tertiary-mid);
}

div#user-menu ul:last-child {
  border-bottom: 0;
}

nav div#user-menu li a {
  display: block;
  font-size: 0.9rem;
  line-height: 0.9rem;
  font-weight: normal;
  padding: 8px 15px;
}

nav div#user-menu li a:hover {
  background-color: var(--tertiary-mid);
  color: var(--tertiary-color);
}
