section#search-results {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: var(--main-max-width);
  margin-left: auto;
  margin-right: auto;
}

div.results-row {
  margin-bottom: 20px;
  padding-top: 6px;
}

div.results-row div.doesnt-exist {
  color: white;
  width: auto;
}

div.movie-result {
  color: white;
  font-size: 1rem;
}

div.movie-result .sub-info {
  font-size: 0.9rem;
}
