section#profile {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: var(--main-max-width);
  margin-left: auto;
  margin-right: auto;
}

section#profile h1 {
  margin-bottom: 0;
}

section#profile h4 {
  font-style: italic;
  margin: 0;
}

section#profile h5 {
  margin-bottom: 0;
}

section#profile ul {
  padding: 0;
}

section#profile li {
  list-style-type: none;
}

section#profile li.comment {
  font-size: 1em;
}

section#profile li.comment p {
  text-align: left;
  width: 100%;
  color: white;
}

section#profile span.your-vote {
  font-weight: bold;
}

section#profile h3 {
  margin-top: 25px;
}

section#profile em {
  font-size: 0.8em;
  color: white;
  display: block;
}

section#profile div.doesnt-exist {
  text-align: center;
  color: white;
}

section#profile div.doesnt-exist span {
  font-weight: bold;
}

section#profile .no-content {
  color: white;
}
