section#profile {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: var(--main-max-width);
  margin-left: auto;
  margin-right: auto;
}

section#profile h1 {
  margin-bottom: 0;
}

section#profile h4 {
  font-style: italic;
  margin: 0;
}

section#profile h5 {
  margin-bottom: 0;
  font-size: 0.9rem;
}

section#profile ul {
  padding: 0;
}

section#profile li {
  list-style-type: none;
}

section#profile li.comment {
  font-size: 1em;
}

section#profile li.comment p {
  text-align: left;
  width: 100%;
  color: white;
}

section#profile span.your-vote {
  font-weight: bold;
}

section#profile h3 {
  margin-top: 25px;
}

section#profile em {
  font-size: 0.8em;
  color: white;
  display: block;
}

section#profile .no-content {
  color: white;
}

section#profile div.alert {
  padding: 6px 10px;
  width: auto;
  font-size: 0.9rem;
  margin-top: 8px;
}

section#profile button#resend {
  padding: 0;
  border: 0;
  font-weight: bold;
  color: rgb(88, 21, 28);
  background-color: transparent;
  margin-left: 12px;
  text-transform: uppercase;
}

section#profile span.poll-info,
section#profile span.sub-info {
  font-size: 0.9rem;
  margin-left: 10px;
  display: none;
}

section#profile span.poll-info {
  color: white;
}

@media screen and (min-width: 450px) {
  section#profile span.poll-info {
    display: inline;
  }
}

@media screen and (min-width: 600px) {
  section#profile span.sub-info {
    display: inline;
  }
}
