.user-poll {
  width: 100%;
}

.poll-listing.expired {
  opacity: 0.5;
}

.poll-listing p {
  color: white;
  margin: 0;
  font-size: 0.8rem;
}

.poll-listing span.username {
  font-size: 0.8rem;
  padding: 0;
  margin-left: 6px;
}

.poll-listing span.username a {
  font-size: 0.8rem;
}

.poll-listing a {
  font-size: 1.2rem;
}
