.user-poll {
  width: 100%;
}

.poll-listing.expired {
  opacity: 0.5;
}

.poll-listing p {
  color: white;
  margin: 0;
  font-size: 0.8rem;
}

.poll-listing span a {
  font-size: 0.9rem;
  margin-left: 10px;
}

@media screen and (min-width: 600px) {
  .user-poll {
    width: 49%;
  }
}
