section#create {
  position: relative;
}

section#create .container {
  margin: 0;
  max-width: 100%;
}

section#create button {
  margin-top: 10px;
}

section#create input[type="text"],
section#create textarea {
  width: 100%;
  margin-bottom: 0;
  border-radius: 4px;
  border: none;
  padding: 6px;
  font-size: 1em;
  line-height: 1.2em;
}

section#create #released input[type="text"] {
  width: 40%;
  margin-right: 10px;
}

section#create textarea {
  height: 80px;
  margin-bottom: -5px;
}

section#create ul {
  padding: 0;
  margin: 0;
}

section#create h3 {
  margin-top: 20px;
  margin-bottom: 20px;
  color: white;
}

section#create h2 {
  color: white;
}

section#create legend {
  font-size: 1em;
  font-weight: bold;
}

section#create fieldset {
  margin-top: 15px;
}

section#create li p {
  margin-bottom: 0;
}

section#create ul#selected h4 {
  margin-bottom: 0;
}

section#create div.alert {
  margin-top: 12px;
}
