section#create {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  max-width: var(--main-max-width);
}

section#create h5 {
  text-align: center;
  font-size: 1rem;
  margin: 25px auto 12px;
  padding: 0 0 8px;
  border-bottom: 1px solid var(--tertiary-color);
}

section#create p.list-member-12 {
  color: white;
}

.style-b section#create h5 {
  border-bottom-color: var(--b-tertiary-color);
}

section#create div#about,
section#create div#titleSearch {
  max-width: 400px;
  margin-bottom: 50px;
}

/* section#create .container {
  margin: 0 auto;
} */

section#create button {
  margin-top: 10px;
}

section#create div#about button {
  margin-top: 0;
}

section#create input[type="text"],
section#create textarea {
  width: 100%;
  margin-bottom: 0;
}

/* section#create #released input[type="text"] {
  width: 40%;
  margin-right: 10px;
} */

section#create textarea {
  height: 80px;
  margin-bottom: -5px;
}

section#create ul {
  padding: 0;
  margin: 0;
}

section#create h2 {
  color: white;
}

section#create legend {
  font-size: 1em;
  font-weight: bold;
}

section#create fieldset {
  margin-bottom: 0;
}

section#create li p {
  margin-bottom: 0;
}

section#create ul#selected h4 {
  margin-bottom: 0;
}

section#create div.alert {
  margin-top: 12px;
}
