li.search-result {
  list-style-type: none;
  text-align: left;
  cursor: pointer;
  color: white;
}

li.search-result:hover {
  background-color: var(--item-background-hover);
}

.search-result h4 {
  font-size: 1em;
  color: var(--link-hover);
}

.search-result p {
  color: var(--dark-text);
  font-size: 0.8em;
}
