section#user-directory {
  position: relative;
  max-width: var(--main-max-width);
  margin-left: auto;
  margin-right: auto;
}

section#user-directory input {
  width: 100%;
}

section#user-directory ul {
  margin: 0;
  padding: 0;
}

section#user-directory li {
  list-style-type: none;
}

section#user-directory span {
  display: none;
}

section#user-directory a {
  width: 100%;
  display: block;
}

@media screen and (min-width: 500px) {
  section#user-directory span.user-info {
    display: inline;
  }
}

@media screen and (min-width: 650px) {
  section#user-directory span.sub-info,
  section#user-directory span.user-data,
  section#user-directory span.you-data {
    display: inline;
  }
}
