section#user-directory {
  position: relative;
  max-width: var(--main-max-width);
  margin-left: auto;
  margin-right: auto;
}

section#user-directory input {
  width: 100%;
}

section#user-directory span {
  display: none;
}

section#user-directory a {
  width: 100%;
  display: block;
}

@media screen and (min-width: 500px) {
  section#user-directory span.user-info {
    display: inline;
  }

  section#user-directory a {
    width: auto;
    display: inline;
  }
}

@media screen and (min-width: 650px) {
  section#user-directory span.sub-info {
    display: inline;
  }
}
